<h1><%= t "Editing user", default: "not found"%></h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to t("Show this user"), @user %> |
  <%= link_to t("Back to users"), users_path %>
</div>
