<h1><%= t 'Editing division', default: 'not exist'%></h1>

<%= render "form", division: @division %>

<br>

<div>
  <%= link_to t("Show this division"), @division %> |
  <%= link_to t("Back to divisions"), divisions_path %>
</div>
