/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 20px;
    padding: 0px 0px;
  }

  .sign-out{
    float: right;
    display: flex;
  }

  .lang{
    float: right;
    display: flex;
    padding-right: 10px;
  }
  
  .profile{
    float: right;
    padding-right: 10px;
    display: flex;
  }

  .topnav .title{
    float: left;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .w3-sidebar{
    width: 15%; 
    padding-top: 20px; 
    font-size: 20px;
    height: auto;
    position: static !important;
    font-size: 15px;
  }

  .new-record{
    float: right;
    display: block;
    padding-bottom: 10px;
  }

  .tb-btns{
    float: left;
    padding-left: 10px;
  }

  body {
    margin: 0;
    font-family: "Segoe UI",Arial,sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    position: relative;
    background-color: #333;
    height: 70px;
    display: block;
    padding: 5px 5px 5px 5px;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: transparent;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .footer{
    position:relative;
    bottom:0;
    display: block;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: #333;
    margin-bottom: 15%;
  }

  .app-container{
    display: flex;
  }

  .container{
    display: block;
    width: 80%;
  }

  .main{
    margin-left: 1%;
    margin-bottom: 20%;
  }

  .users-header{
    margin-bottom: 30px;
  }