<div class="w3-sidebar w3-light-grey w3-bar-block">

    <a href="/users" class="w3-bar-item w3-button">Users</a>
    <a href="/employees" class="w3-bar-item w3-button">Employees</a>
    <a href="/teams" class="w3-bar-item w3-button">Teams</a>
    <a href="/divisions" class="w3-bar-item w3-button">Divisions</a>
    <a href="/targets" class="w3-bar-item w3-button">Targets</a>

  </div>