<!DOCTYPE html>
<html>
  <head>
    <title>HREmployeeAdminSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <base href="http://127.0.0.1:3000/" />
  <div class="sidenav">
    <a href="/home">Home</a>
    <a href="/divisions">Divisions</a>
    <a href="/employees">Employees</a>
    <a href="/targets">Targets</a>
    <a href="/teams">Teams</a>
    <a href="/users">Users</a>
  </div>
  <div class="main">
    <%= yield %>
  </div>
  </body>
</html>
